<div class="like-link" id="like-link-<%= post.id %>">
  <% if current_user.likes.find_by(post_id: post.id) %>
    <%= link_to post_like_path(post.id), method: :delete, remote: true do %>
        <div><i class="fas fa-heart liked"></i><%= post.likes_count %></div>
    <% end %>
  <% else %>
    <%= link_to post_likes_path(post.id), method: :post, remote: true do %>
        <div><i class="far fa-heart"></i><%= post.likes_count %></div>
    <% end %>
  <% end %>
</div>