<div class="content_post">
  <%= link_to('',post_path(post.id),class:"post-link") %>
  <div class="post_container">
    <div class="user_image">
      <%= link_to user_path(post.user.id) do%>
        <% if post.user.image? %>
          <%= image_tag post.user.image.url %>
        <% else %>
          <%= image_tag "user_default.png" %>
        <% end %>
      <% end %>
    </div>
    <div class="content-right">
      <div class="post_header">
        <%= link_to(post.user.nickname, user_path(post.user.id),) %>
        <p class="created_at"><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
      </div>
      <div class="content_desc">
        <div><i class="fas fa-calendar"></i><%= post.date %></div>
        <div><i class="fas fa-clock"></i><%= post.study_time %>分</div>
        <div class="content_txt"><p><%= simple_format(post.text) %></p></div>
      </div>
      <div class="content_footer">
        <div class="icon_list">
          <div><i class="far fa-comment"></i><%= post.comments_count %></div>
          <div><i class="far fa-heart"></i><%= post.likes_count %></div>
        </div>
        <% if user_signed_in? && current_user.id == post.user_id %>
          <div class="more">
            <i class="fas fa-ellipsis-h"></i>
            <ul class="more_list">
              <li>
                <%= link_to '削除', "/posts/#{post.id}", method: :delete %>
              </li>
              <li>
                <%= link_to '編集', "/posts/#{post.id}/edit", method: :get %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
