<div class="contents row">
  <div class="container">
    <%= form_tag("/posts/#{@post.id}", method: :patch ) do %>
      <h3>
        編集する
      </h3>
      <div class="notifications">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: key)%>
        <% end %>
      </div>
      <input placeholder="日付を入力" type="date" name="date" value="<%= @post.date %>" autofocus="true">
      <input placeholder="勉強時間を入力" type="integer" name="study_time" value="<%= @post.study_time %>" autofocus="true">
      <textarea cols="30" name="text" placeholder="text" rows="10"><%= @post.text %></textarea>
      <input type="submit" value="SENT">
    <% end %>
  </div>
</div>