<div class ="contents row">
  <div class="contents_list">
    <div class="content_post">
      <div class="user_image">
        <% if @post.user.image? %>
          <%= image_tag @post.user.image.url %>
        <% else %>
          <%= image_tag "user_default.png" %>
        <% end %>
      </div>
      <div class="content-right">
        <div class="post_header">
          <p class="post_user"><%= @post.user.nickname %></p>
          <p class="created_at"><%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
        </div>
        <div class="content_desc">
          <div><i class="fas fa-calendar"></i><%= @post.date %></div>
          <div><i class="fas fa-clock"></i><%= @post.study_time %>分</div>
          <div class="content_txt"><%= simple_format(@post.text) %></div>
        </div>
        <div class="content_footer">
          <div class="icon_list">
            <div><i class="far fa-comment"></i><%= @post.comments_count %></div>
            <div><i class="far fa-heart"></i>2</div>
          </div>
          <div class="more">
            <i class="fas fa-ellipsis-h"></i>
            <ul class="more_list">
              <li>
                <%= link_to "詳細", post_path(@post.id), method: :get %>
              </li>
              <% if user_signed_in? && current_user.id == @post.user_id %>
                <li>
                  <%= link_to '編集', "/posts/#{@post.id}/edit", method: :get %>
                </li>
                <li>
                  <%= link_to '削除', "/posts/#{@post.id}", method: :delete %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <% if current_user %>
      <%= form_tag("/posts/#{@post.id}/comments",  method: :post,  id: "new_comment" ) do %>
        <textarea cols="30" name="text" placeholder="コメントする" rows="2" class="textbox"></textarea>
        <input type="submit" value="SEND" class="form__submit">
      <% end %>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>