<div class ="contents row">
  <div class="contents_list">
    <div class="content_post">
      <div class="post_container">
        <div class="user_image">
          <%= link_to user_path(@post.user.id) do%>
            <% if @post.user.image? %>
              <%= image_tag @post.user.image.url %>
            <% else %>
              <%= image_tag "user_default.png" %>
            <% end %>
          <% end %>
        </div>
        <div class="content-right">
          <div class="post_header">
            <%= link_to @post.user.nickname, user_path(@post.user.id) %>
            <p><%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
          </div>
          <div class="content_desc">
            <div><i class="fas fa-calendar"></i><%= @post.date %></div>
            <div><i class="fas fa-clock"></i><%= @post.study_time %>分</div>
            <div class="content_txt"><%= simple_format(@post.text) %></div>
          </div>
          <div class="content_footer">
            <div class="icon_list">
              <div><i class="far fa-comment"></i><%= @post.comments_count %></div>
              <%= render partial: "likes/like", locals: { post: @post } %>
            </div>
            <div class="more">
              <i class="fas fa-ellipsis-h"></i>
              <ul class="more_list">
                <% if user_signed_in? && current_user.id == @post.user_id %>
                  <li>
                    <%= link_to '削除', "/posts/#{@post.id}", method: :delete %>
                  </li>
                  <li>
                    <%= link_to '編集', "/posts/#{@post.id}/edit", method: :get %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <% if current_user %>
      <%= form_tag("/posts/#{@post.id}/comments",  method: :post,  id: "new_comment" ) do %>
        <textarea cols="30" name="text" placeholder="コメントする" rows="2" class="textbox"></textarea>
        <input type="submit" value="SEND" class="form__submit">
      <% end %>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>