<!DOCTYPE html>
<html>
  <head>
    <title>Study-Log</title>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>

  <body>
    <header class="header">
    <div class="header__bar">
      <h1 class="app_name">
        <a href="/">
          <i class="fas fa-hourglass-half"></i>
          Study-Log
        </a>
      </h1>
      <div class="header__right">
        <% if user_signed_in? %>
          <div class="user_nav">
            <span>
              <%= link_to user_path(current_user.id) do%>
                <% if current_user.image? %>
                  <%= image_tag current_user.image.url %>
                <% else %>
                  <%= image_tag "user_default.png" %>
                <% end %>
              <% end %>
              <%= current_user.nickname %>
              <i class="far fa-caret-square-down"></i>
              <ul class="user__info">
                <li>
                  <%= link_to 'マイページ', user_path(current_user.id) %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            </span>
            <a class="post" href="/posts/new">投稿する</a>
          </div>
        <% else %>
          <div class="not_signed_in_list">
            <%= link_to "ログイン", new_user_session_path, class: 'post' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
          </div>
        <% end %>
      </div>
    </div>
  </header>
    <div class="wrapper">
      <%= render partial: "module/sidebar", locals: { user: current_user } %>
      <div class="main">
        <%= yield %>
      </div>
    </div>

    <footer>
    <%# 以下はBootStrap用のテストコード %>
      <%# <a class="btn btn-primary" href="#" role="button">Link</a>
      <button class="btn btn-primary" type="submit">Button</button>
      <input class="btn btn-primary" type="button" value="Input">
      <input class="btn btn-primary" type="submit" value="Submit">
      <input class="btn btn-primary" type="reset" value="Reset"> %>
    </footer>
  </body>
</html>